@use '../../scss/' as *;

.footer {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0;

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        padding: 4rem 0;
    }
}
.footer-layout-1 {
    width: 30%;
    
    @include tablet {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
}
.footer-logo {
    color: white;
    margin-bottom: 3rem;

    & > svg {
        width: 8rem;
    }

    &__icon {
        display: flex;
        column-gap: 1rem;

        @include mobile {
            column-gap: 0.4rem;
        }
    }
    &__icon-github,
    &__icon-twitter,
    &__icon-slack {
        color: white;
    }
}
.footer-layout-2 {
    display: flex;
    width: 70%;
    justify-content: space-between;

    @include tablet {
        width: 100%;
        padding: 0 1rem;
        display: block;
    }
    &__col-1,
    &__col-2,
    &__col-3 {
        list-style-type: none;
        width: calc(100% * 1 / 3);

        @include tablet {
            width: 100%;
            margin-bottom: 2rem;
        }
        &-item {
            margin-bottom: 1rem;
        }
        &-item > a {
            color: white;
            font-size: 1rem;
        }
    }
}
hr {
    background-color: white;
    border: 0;
    height: 1px;
}
.footer-copyright {
    display: flex;
    padding-bottom: 3rem;

    @include tablet {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include mobile {
        display: block;

    }
    &__left {
        width: 30%;
        & > span {
            color: rgb(143, 143, 143);
        }
        @include mobile {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
    &__right {
        width: 70%;
        & > span {
            color: rgb(143, 143, 143);
            padding-right: 2rem;

            @include mobile {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
